<footer class="page-footer font-small blue-grey lighten-5 pt-0" style="margin-top: 10px">

    <div style="background-color:#F0B27A;margin-left:0px;margin-right:0">
        <div class="container-fluid"style="margin-left:0px;margin-right:0;">
            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center">
                <!--Grid column-->
                <div class="col-12 col-md-5 text-left mb-4 mb-md-0">
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
    </div>

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row ">

            <!--First column-->

            <div class="col-sm dark-grey-text" style="margin-left:30px;">
                <br>
                <img src="/images/pmay.jpg" width="100px" align="right"/>
                <h6 class="title font-weight-bold"><b>Pradhan Mantri Awas Yojana-<em>Housing for All</em></b></h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-sm dark-grey-text" style="margin-left:100px;">
                <br>
                <h6 class="title font-weight-bold"><strong>SERVICES</strong></h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a href="#!" class="dark-grey-text">Online Services</a></p>
                <p><a href="#!" class="dark-grey-text">PMAY CARE</a></p>
                <p><a href="#!" class="dark-grey-text">EFAQ</a></p>
                <p><a href="#!" class="dark-grey-text">PMAY App Store</a></p>
                <p><a href="#!" class="dark-grey-text">Feedback/Survey</a></p>

            </div>
            <!--/.Second column-->

            <!--Third column-->
            <div class="col-sm dark-grey-text">
                <br>
                <h6 class="title font-weight-bold"><strong>INFORMATION</strong></h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a href="#!" class="dark-grey-text">About PMAY</a></p>
                <p><a href="#!" class="dark-grey-text">E-Newsletter</a></p>
                <p><a href="#!" class="dark-grey-text">Latest Updates</a></p>
                <p><a href="#!" class="dark-grey-text">Website Policy</a></p>
                <p><a href="#!" class="dark-grey-text">Terms And Conditions</a></p>

            </div>
            <!--/.Third column-->

            <!--Fourth column-->
            <div class="col-sm dark-grey-text">
                <br>
                <h6 class="title font-weight-bold"><strong>CONTACT</strong></h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><i class="fa fa-home mr-3"></i> Mumbai 10012, INDIA</p>
                <p><i class="fa fa-envelope mr-3"></i> info@example.com</p>
                <p><i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
                <p><i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
            <!--/.Fourth column end-->

            <!--Fifth column  -->
            <div class="col-sm  dark-grey-text" style="align:right;width:100px" >
                <br>
                <img src="/images/nic.in.png" width="200">
            </div>
            <!--Fifth column end -->

        </div>
    </div>
    <!--/.Footer Links-->

    <!-- Copyright-->
    <div class="footer-copyright py-3 text-center">
        <div class="container-fluid">
            © 2017 Copyright: <a href="#"><strong> PMAY.com</strong></a>
        </div>
    </div>
    <!--/.Copyright -->

</footer>