<div class="container-fluid" style="background-color:white" >

    <div class="row" >
        <div class="col" style="margin-left: 40px">
            <img src="/images/logo.JPG" align="left" alt="image" style="float:left">
        </div>
        <div class="col-8" style="padding: 20px ;margin-right:30px ">
            <h2 style="color:blue ;font-size: 30px ;text-align: center;font-weight:500; line-height: 1.1; color: #337ab7;">Pradhan Mantri Awas Yojana-Housing for All (Urban)</h2>
            <h4 style="text-align: center ; color: #337ab7;"> Ministry of Housing and Urban Affair</h4>
            <h5 style="text-align: center">Government of India</h5>
        </div>
        <div class="col" style="margin-right:40px" >
            <img src="/images/logo2.JPG" alt="image2" style="float:right" >
        </div>
    </div>


</div>