<div class="row">
    <div class="col-lg-12">
      {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
      {{/if}}

      {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
      {{/if}}

      {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
      {{/if}}


      {{#if record}}
      {{#each record}}
                         <tr >
                           <td><a href="#">{{this._id.userid}}</a></td>
                           <td><a href="#">{{this._id.username}}</a></td>
                           <td><a href="#">{{this._id.email}}</a></td>
                           <td><a href="#">{{this.total}}</a></td>
                           <td><a href="#">{{ math @index "+" 1}}</a></td>
                         </tr>
      {{/each}}
  {{/if}}
      
    </div>

  </div>